<!--
Kyle Lee, Jessica Yu, Vedant Kothari, Will Nzeuton
Team datTopherPack
SoftDev
p01 
2024-12-07 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>    </title>
</head>

<body>

        <form action="/home.html" method="get">
            <button type="submit">Home</button>
        </form>
    
        <br>
     </div>
</body>

</html>
