<!--
Kyle Lee, Jessica Yu, Vedant Kothari, Will Nzeuton
Team datTopherPack
SoftDev
p01 
2024-12-07 
-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>    </title>
    </head>
    <body>
        <div class='main'>
            <form action="/events" method="get">
                <button type="submit">Events</button>
            </form>
    
            <br>
            <form action="/weather" method="get">
                <button type="submit">Events</button>
            </form>
    
            <br>
    
            <form action="/sports" method="get">
                <button type="submit">Sports</button>
            </form>
    
            <br>
    
            <form action="/arts" method="get">
                <button type="submit">Art</button>
            </form>
    
            <br>
        </div>
        <h1>Event Details</h1>
        
        {% if event_details %}
            <p><strong>Event ID:</strong> {{ event_details['event_id'] }}</p>
            <p><strong>Sport ID:</strong> {{ event_details['sport_id'] }}</p>
            <p><strong>Event Type:</strong> {{ event_details['event_type'] }}</p>
            <p><strong>Home Team:</strong> {{ event_details['home'] }}</p>
            <p><strong>Away Team:</strong> {{ event_details['away'] }}</p>
            <p><strong>Start Time:</strong> {{ event_details['starts'] }}</p>
            <p><strong>Resulting Unit:</strong> {{ event_details['resulting_unit'] }}</p>
            <p><strong>Has Odds?:</strong> {{ event_details['is_have_odds'] }}</p>
            <p><strong>League Name:</strong> {{ event_details['league_name'] }}</p>
            
        {% else %}
            <p>No details found for this event.</p>
        {% endif %}
        
    </body>
</html>