<!--
Kyle Lee, Jessica Yu, Vedant Kothari, Will Nzeuton
Team datTopherPack
SoftDev
p01 
2024-12-07 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>    </title>
</head>

<body>
    <div class='main'>
        <form action="/events" method="get">
            <button type="submit">Events</button>
        </form>

        <br>
        <form action="/weather" method="get">
            <button type="submit">Events</button>
        </form>

        <br>

        <form action="/sports" method="get">
            <button type="submit">Sports</button>
        </form>

        <br>

        <form action="/arts" method="get">
            <button type="submit">Art</button>
        </form>

        <br>
     </div>

     

        <div class="event-cards">
            {% for card in cards %}
                <div class="event-card">
                    {{ card|safe }} 
                </div>
            {% endfor %}
        </div>
        {% if page_num %}
            {% if page_num > 1 %}
                <a href="{{ url_for('sports', pageNum=page_num - 1) }}">Back</a>
            {% endif %}

            <a href="{{ url_for('sports', pageNum=page_num + 1) }}">Next</a>
        {% endif %}
</body>

</html>
