<!--
Kyle Lee, Jessica Yu, Vedant Kothari, Will Nzeuton
Team datTopherPack
SoftDev
p01 
2024-12-07 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>    </title>
</head>

<body>

        <form action="/home.html" method="get">
            <button type="submit">Home</button>
        </form>
        <h1>Weather Report</h1>
        <img src="{{ img }}" width = 300>
        <p> Time of Day {{ "Daytime" if day else "Nighttime" }}</p>
        <p>Wind: {{ windSpeed }} {{ windDirection }}</p>
        <p>Chance of Rain: {{ rainChance }}%</p>
        <p>Temperature (Fahrenheit): {{ temp }}</p>
        <p>Forecast: {{ description }}</p>
     </div>
</body>

</html>
